<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voorpagina</title>
    <link rel="stylesheet" href="/styles/header.css">

  </head>
  <body>

<header>
  <div class="topbar-wrapper">
  <div class="topbar-container">
  <nav class="topbar-left">
    <ul class="topbar-left-items">
      <li class="topbar-item"><a class="topbar-link" href="/login">Login</a></li>
      <li class="topbar-item"><a class="topbar-link" href="/registreren">Registreren</a></li>
    </ul>
  </nav>

  <nav class="topbar-right">
    <ul class="topbar-right-items">
      <li class="topbar-item"><a class="topbar-link" href="/alumni">Alumni</a></li>
      <li class="topbar-item"><a class="topbar-link" href="/colofon">Colofon</a></li>
      <li class="topbar-item"><a class="topbar-link" href="/over">Over</a></li>
      <li class="topbar-item"><a class="topbar-link" href="/meedoen">Meedoen</a></li>
      <li class="topbar-item"><a class="topbar-link" href="/Contact">Contact</a></li>
    </ul>
  </nav>
</div>
  </div>

  <div class="header">
    <div class="date-slogan-container">
      <p class="date">Insert Current Date</p>
      <p class="slogan">Podium voor de journalistiek</p>
    </div>
    <div class="logo-container">
      <a href="/">
        <img src="\assets\RedPers_Logo_Black_Transparent.png" alt="Red Pers Logo" width="250"/>
      </a>
    </div>
    <div class="header-links-container">
      <a class="header-links"><svg class="icon" src="" width="24" height="24"></svg> Doneren</a>
      <a class="header-links"><svg class="icon" src="" width="24" height="24"></svg> Nieuwsbrief</a>
    </div>
  </div>

  <div class="primary-nav-container">
    <nav class="primary-nav">
      <ul class="primary-nav-items">
        <li class="primary-nav-item"><a href="/">Voorpagina</a></li>
        <li class="primary-nav-item"><a href="/">Binnenland</a></li>
        <li class="primary-nav-item"><a href="/">Buitenland</a></li>
        <li class="primary-nav-item"><a href="/">Columns</a></li>
        <li class="primary-nav-item"><a href="/">Economie</a></li>
        <li class="primary-nav-item"><a href="/">Kunst & Media</a></li>
        <li class="primary-nav-item"><a href="/">Podcasts</a></li>
        <li class="primary-nav-item"><a href="/">Politiek</a></li>
        <li class="primary-nav-item"><a href="/">Wetenschap</a></li>
        <li class="primary-nav-item"><a href="/" aria-label="zoeken"><svg class="icon" src="" width="24" height="24"></svg></a></li>
      </ul>
    </nav>
  </div>

</header>