<% posts.forEach(function(article) { %>
  <article>
    <h2><%- article.title.rendered %></h2>
<img src="<%= article.yoast_head_json.og_image[0].url %>" alt="<%= article.yoast_head_json.schema['@graph'][2].caption %>"/>
  </article>
<% }); %>