<!-- Combine media and posts into a single array -->

<% posts.forEach(function(artikel) { %>
<article>
  <h2><%- artikel.title.rendered %></h2>
  <% media.forEach(function(artikelmedia) { %> <% if (artikel.featured_media ==
  artikelmedia.id) { %>
  <img
    src="<%= artikelmedia.source_url %>"
    alt="<%= artikelmedia.caption.rendered%>"
  />
  <% } %> <% }); %>
</article>
<% }); %>
