article.main-article {
  display: flex;
  gap: 20px;
}

div.article-content-container {
  width: 33%;
  border: 1px solid black;
  background-color: white;
  position: relative;
  padding: 15px;
}

div.article-image-container {
  width: 67%;
  border: 1px solid black;
}

img.article-featured-image {
  height: 500px;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  vertical-align: middle;
}

h2.article-title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  color: black;
  padding: 20px 0;
  &:hover {
    text-decoration: underline;
  }
}

span.excerpt {
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  color: black;
  color: black;
}

div.author-reading-time-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

p.reading-time {
  color: #a8a8a8;
  margin-left: 3px;
}

div.article-date-container {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 5px 20px;
}

p.article-date {
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-family: Inter;
  text-transform: uppercase;
}

div.sub-article-container {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-between;
  gap: 20px;
}

div.sub-article-container a.article-link {
  width: 33.333%;
}

img.sub-article-featured-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
  vertical-align: middle;
}

h2.sub-article-title {
  font-family: Inter;
  font-size: 26px;
  font-weight: 700;
  color: black;
  padding: 20px 0;
  &:hover {
    text-decoration: underline;
  }
}

article.sub-article {
  background-color: white;
}

div.sub-article-featured-image-container {
  border: 1px solid black;
}

div.sub-article-title-container {
  border: 1px solid black;
  padding: 0 20px;
  border-top-color: transparent;
  height: 250px;
}

div.author-reading-time-date-container {
  border: 1px solid black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  font-family: Inter;
  color: black;
  border-top-color: transparent;
}

span.reading-time {
  color: #a8a8a8;
}

p.sub-article-date {
  color: #a8a8a8;
}
